extends ../layout/index
block contenido
    main.container.mt-5
        .row    
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Convallis dignissim scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies mattis diam ut tincidunt. Sed et nisi vitae ex ultricies pharetra. Vivamus sed pulvinar tellus, ac lacinia eros. Suspendisse potenti. Sed tempus nunc ante, a pharetra arcu porttitor ac. Curabitur purus elit, tristique vitae egestas eget, feugiat et risus. Nulla et feugiat orci, ac aliquam velit.
                p Aenean vel luctus quam. Aliquam congue aliquam eros, eu blandit tellus faucibus et. Praesent nec felis non eros consequat pulvinar ac vitae odio. Integer condimentum congue nibh, non lobortis erat laoreet lobortis. Quisque sit amet enim sollicitudin, pharetra massa quis, iaculis metus. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies mattis diam ut tincidunt. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet gravida enim, sed molestie justo. In faucibus accumsan feugiat.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet gravida enim, sed molestie justo. In faucibus accumsan feugiat.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet gravida enim, sed molestie justo. In faucibus accumsan feugiat.